@model IEnumerable<WebApp.Models._ProductsBLL>
@using WebApp.Helper
@{
    List<WebApp.Models._ProductsBLL> lst = Model.ToList();
    var sessionCus = (CustomerLogin)Session[Constants.CUSTOMER_SESSION];
}

<div class="recommended_items">
    <!--recommended_items-->
    <h2 class="title text-center">recommended items</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@Url.Content(lst[i].Image_Product)" alt="" />
                                    <h2>@string.Format("{0:#,##0}", lst[i].Price) đ</h2>
                                    <p>@lst[i].Name_Product</p>
                                    @if (sessionCus != null)
                                    {
                                        <a href="@Url.Action("AddToCart", "_Carts", new { idCus = sessionCus.CustomerID, Img = lst[i].Image_Product, NamePro = lst[i].Name_Product, IdPro = lst[i].Id_Product, UnitPrice = lst[i].Price})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("LoginRegister", "_Customers")" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="item">
                @for (int i = 3; i < 6; i++)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@Url.Content(lst[i].Image_Product)" alt="" />
                                    <h2>@string.Format("{0:#,##0}", lst[i].Price) đ</h2>
                                    <p>@lst[i].Name_Product</p>
                                    @if (sessionCus != null)
                                    {
                                        <a href="@Url.Action("AddToCart", "_Carrts", new { idCus = sessionCus.CustomerID, Img = lst[i].Image_Product, NamePro = lst[i].Name_Product, IdPro = lst[i].Id_Product, UnitPrice = lst[i].Price})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("LoginRegister", "_Customers")" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div><!--/recommended_items-->
