@model IEnumerable<WebApp.Areas.Admin.Models.OrderDetailsBLL>
@{
    ViewBag.Title = "DetailsOrderByIdOrder";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
            <li class="breadcrumb-item active">OrderDetails</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Orders
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id Order</th>
                                <th>Id Product</th>
                                <th>Quanlity</th>
                                <th>Units Total</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Id_Order</td>
                                <td>@item.Id_Product</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price_OrderDetail</td>
                                @if (item.Status == false)
                                {
                                    <td>Đang vận chuyển</td>
                                }
                                else
                                {
                                    <td>Giao hàng thành công</td>
                                }

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

