@using WebApp.Models
@model IEnumerable<_CartsBLL>
@{
    ViewBag.Title = "DisplayCart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    long total = 0;
    foreach(var item in Model) { total += (long)item.UnitsTotal; }
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">UnitsTotal</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="@Url.Content(item.Image_Product)" width="110px" height="110px" alt=""></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@item.Name_Product</a></h4>
                                <p>Product ID: @item.Id_Product</p>
                            </td>
                            <td class="cart_price">
                                <p>@string.Format("{0:#,##0}", item.UnitPrice) đ</p>
                            </td>
                            <td class="cart_quantity">
                                @*<div class="cart_quantity_button">
                                    <a class="cart_quantity_up" href=""> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" href=""> - </a>
                                </div>*@
                                @item.Quantity
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price"> @string.Format("{0:#,##0}", item.UnitsTotal) đ</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="@Url.Action("DeleteItem", "_Carts", new {idCart = item.Id_Cart, idCus = item.Id_Customer })"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }



                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="heading">
            @*<h3>What would you like to do next?</h3>
            <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>*@
        </div>
        <div class="row">
            <!--<div class="col-sm-6">
                <div class="col-sm-6 col-sm-offset-1">-->
                    <!--login form-->
                    <!--<div class="login-form">
                        <h2>Shopper Information</h2>
                        <form action="#">
                            <input type="text" placeholder="Name Reciever" />
                            <input type="text" placeholder="Phone Reciever" />
                            <input type="text" placeholder="Address Reciever" />
                            <button type="submit" class="btn btn-default">Checkout</button>
                        </form>
                    </div>-->
                    <!--/login form-->
                <!--</div>
            </div>-->
            <div class="col-sm-6 pull-right">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span>@string.Format("{0:#,##0}", total) đ</span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span>@string.Format("{0:#,##0}", total) đ</span></li>
                    </ul>
                    <a class="btn btn-default update" href="@Url.Action("Index", "_Home")">Continue Shopping</a>
                    <a class="btn btn-default check_out" href="@Url.Action("CheckOut", "_Orders")">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
